body {
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-flow: row wrap;

  background-color: black;
  height: 400px;
  width: 400px;
  border: solid 2px white;
}

.cell {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: white;
  border-radius: 50%;
}

.apple {
  background-image: url('red_apple.png');
  background-size: cover;
}

.score-board {
  color: white;
}
