body {
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

.board {
  display: flex;
  flex-flow: row wrap;

  background-color: black;
  height: 400px;
  width: 600px;
  border: solid 2px white;
}

.cell {
  width: 20px;
  height: 20px;
  background-image: url('grass.png');
}

.score-board {
  color: white;
}

ul {
  padding-inline-start: 20px;
}

#end_message {
  opacity: 0;
}
